<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>


<div th:fragment="scripts">


    <script type="text/javascript" src="/js/cytoscape.min.js"></script>
    <script type="text/javascript" src="/js/dagre.min.js"></script>

    <script type="text/javascript" src="/js/cyto-dagre.js"></script>

    <script type="text/javascript" src="/js/process-drawing.js"></script>

    <script type="text/javascript" src="/js/datatables.min.js"></script>

</div>

</body>
</html>