<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Case Selection</title>

    <th:block th:include="fragments/headerinc :: head" />
    <th:block th:include="fragments/graphHeaderinc :: head" />

</head>

<body id="viewPage">

<th:block th:include="fragments/header :: header" />

<div class="container-fluid">

    <button type="button" class="btn btn-primary" onclick="performDriftAnalysis()">
        Magic
    </button>

</div>


<th:block th:include="fragments/scripts :: scripts" />
<th:block th:include="fragments/graphScripts :: scripts" />
<th:block th:include="fragments/detailsTableScripts :: scripts" />

<script>

    function performDriftAnalysis() {
        fetch('/api/v1/analysis/drift/').then((res) => console.log(res.json()));
    }

</script>

</body>
</html>
