<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Graph</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body id="viewPage-top">

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Hello User!</h1>
<!--        <p class="lead">This is a graph-based PM tool called C3PO</p>-->
<!--        <hr class="my-4">-->
<!--        <p>What do you wanna do?</p>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/all" role="button">All Cases</a>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/select" role="button">Single Cases</a>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/model" role="button">Process Model</a>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/durations" role="button">Durations</a>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/compare" role="button">Compare Models</a>-->
<!--        <a class="btn btn-primary btn-lg" href="/cases/pathchecker" role="button">Path Checker</a>-->
    </div>

</div>


<!--/*/ <th:block th:include="fragments/scripts :: scripts"></th:block> /*/-->

</body>
</html>